/* ---------------------------------------------------------------------------------------------- general */
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

hr { /* to color them */
	height: 1px !important;
	border: 0px;
}

.material-icons { /* to get matrial icons to be vertically centered */
	line-height: 36px !important;
}


/* ---------------------------------------------------------------------------------------------- all things gridjs */
/* lots of !important spam here sadly */
.gridjs-head {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.gridjs-search {
	width:100%;
}
.gridjs-search>input {
	margin: 0px !important;
	margin-bottom: -2px !important;
}

.gridjs-wrapper {
	border-radius: var(--TableWrapperBorder, 8px 8px 0 0);
}

.gridjs-footer {
	border-top: 0px !important;
}
.gridjs-currentPage {
	text-decoration-line: underline; /* underline current page */
}

.gridjs-table {
	height: 100%;
}

.gridjs-td {
	text-align: center;
	padding: 0px !important; /* so that divs are full cell */
	min-height: 1px !important; /* probably don't need */
	border: 1px solid black !important;
	height: 28px !important;
}
.gridjs-td[data-column-id="map_note"] {
	text-align: left;
	padding-left: 10px !important;
}
.gridjs-td[data-column-id="todo_note"] {
	text-align: left;
	padding-left: 10px !important;
}

.gridjs-th {
	text-align: center !important;
	border: 3px solid black !important;
	border-bottom: 3px solid black !important;
	border-radius: 0px;
	padding: 7px 12px !important; /* original is 14px 24px */
}
.gridjs-th:nth-child(2) {
	border-right: 3px solid black !important;
}
/* these next two, together, line up with the above border */
.gridjs-td:nth-child(2)>span>div {
	border-right: 1px solid black !important;
}
.gridjs-td:nth-child(3)>span>div {
	border-left: 1px solid black !important;
}


/* ---------------------------------------------------------------------------------------------- table cell formatting */

.name-cell>div, .checkbox-cell>div,
.group-cell>div:not([class|="comp-cell-0"]):not([class|="comp-cell-WR"]), 
.todo-goal-cell>div:not([class|="todo-cell-stage-1"]):not([class|="todo-cell-bonus-1"]):not([class|="todo-cell-group-WR"]):not([class|="todo-cell-stage-WR"]):not([class|="todo-cell-bonus-WR"])
{ /* make cells with text 36px */
	line-height: 36px !important;
}

div [class|="comp-cell-G7"], div [class|="todo-cell-group-G7"], div [class|="todo-cell-group-IMP"], div [class|="todo-cell-stage-IMP"], div [class|="todo-cell-bonus-IMP"], .name-cell, .settingsCell { /* cells that can overflow */
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.todoOverlay { /* overlays maptable cells when they're todo */
	-webkit-box-shadow:inset 0px 0px 0px 5px #000;
	-moz-box-shadow:inset 0px 0px 0px 5px #000;
	box-shadow:inset 0px 0px 0px 5px #000;
}

.group-cell, .bonus-cell, .todo-goal-cell, div [class|="null-cell"], .nav-wrapper, .settingsCell { /* to not be highlightable */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.todoCheckbox { /* checkboxes in the todo table */
	opacity: 1 !important;
	position: relative !important;
}


/* ---------------------------------------------------------------------------------------------- hiding things */

.hidden-table-div { /* hiding the table by making it height 0 */
	height: 0 !important;
	overflow: hidden;
}

.hidden-nav-div { /* hiding buttons in the nav by yeeting them left */
	transform: translate(-9999px, 0px);
}

.hidden-button { /* hiding buttons by the search bar by just not displaying them */
	display: none !important;
}


/* ---------------------------------------------------------------------------------------------- navbar */

nav ul li {
  font-weight: bold;
}
nav ul li div {
  padding:0 15px;
}

#TitleDiv { /* website title in navbar */
	padding-left: 15px;
}

.navbar-divider { /* the |s */
	font-size:24pt;
}

#TableButtonDiv { /* the div holding the buttons */
	z-index: 5;
	position: absolute; 
	right: 0px;
	margin-top: 7px;
	margin-right: 5px;
}


/* ---------------------------------------------------------------------------------------------- general modals */

.modal { /* general wrapper */
	width: 85%;
	max-height: 80%;
	font-size: 16pt;
}
.modal-content { /* content div */
	line-height: 1.25 !important;
}

.modalTitle { /* giant header in the modal */
	font-size: 28pt;
	display: inline;
}
.modalSectionTitle { /* sub header */
	font-size: 20pt;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
}
.modal-content> div:nth-of-type(3) > .modalSectionTitle { /* the first one */
	padding-top: 0em;
}


/* ---------------------------------------------------------------------------------------------- update modal */

.mapUpdatedTodos { /* red warning that todos got cleared when updating a map */
	color: red;
}


#LastUpdateTimestamp { /* last update time */
	display: inline;
}
#MapUpdateSuccess { /* kinda self explanatory */
	font-weight: bold;
}


/* ---------------------------------------------------------------------------------------------- settings modal */

.modalList { /* ul used in settings modal */
	margin: 0;
	margin-left: 2em;
}

/* table formatting */
.modalSection th {
	padding:5px 5px;
	border-bottom: 2px solid var(--ModalTableCol, #000000); /* the hr at the bottom of the head */
}
.modalSection tr:nth-child(1) td {
	padding-top: 2px;
}
.modalSection td {
	padding: 0px 5px;
}
.colorCellCol { /* width of first col */
	width: 60%;
}
.colorInputCol { /* width of other cols -- why don't these add up to 100? whatever */
	width: 60%;
}

#SettingsUnsavedWarning { /* red warning top right */
	color: red;
	float:right;
	margin-bottom: 40px;
}

.settingsInput { /* typing input in settings */
	display: inline;
	text-align: center;
	font-size: 85% !important;
	height: 100% !important;
}
.settingsCheckbox { /* checkbox input in settings */
	vertical-align: middle;
	position: static !important;
	opacity: 1 !important;
	pointer-events: auto !important;
	margin-bottom: 4px !important;
}
#PaginationInput { /* the # pages input */
	width: 2.5em;
}
.settingsColorInput { /* the inputs for colors */
	width: 5em !important;
}

.settingsCell { /* the table color cells */
	height: 100% !important;
	width: 100%;
	min-width: 50px;
	height: 36px !important;
	outline: 1px solid black;
	font-weight: bold;
	line-height: 1.5;
}


/* ---------------------------------------------------------------------------------------------- help modal */

.FAQAnswer { /* just want to tab them in a little */
	padding-left: 2em;
	padding-bottom: 5px;
}
.groupNameInline { /* names of groups in the table in the help */
	font-weight: bold;
}

/* the search table */
.leftHelpTableTd {
	width: 50%;
}
.rightHelpTableTd {
	width: 50%;
}


/* ---------------------------------------------------------------------------------------------- materialize overrides */

::placeholder { /* placeholder text in the search bar */
  color: var(--PlaceholderFtCol, black);
}

/* the todo toggle */
.switch label input[type="checkbox"]:checked + .lever { 
	background-color: rgba(0,0,0,0.38);
}
.switch label .lever::after {
	background-color: var(--TodoToggleCol, #f1f1f1);
}
.switch label input[type="checkbox"]:checked + .lever::after {
	background-color: var(--TodoToggleCol, #f1f1f1);
}

tr { /* to color these over the materialize default */
	border-bottom: 1px solid var(--ModalTableCol, #000000);
}

input:not([type]):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]) { /* input bottom border */
	border-bottom: 1px solid var(--InputLineCol, #000000);
	-webkit-box-shadow: 0 1px 0 0 solid var(--InputLineCol, #000000);
	box-shadow: 0 1px 0 0 var(--InputLineCol, #000000);
}

/* coloring collapsibles */
.collapsible {
	border: 0;
}
.collapsible-header {
	background-color: var(--ModalTableCol, #ffffff);
}